.icon-active {
    background-color: var(--contrast)!important;
}

.icon-ruler {
    position: relative;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    color: var(--fg);
    line-height: 42px!important;
    text-align: right!important;
}

span.ruler {
    position: absolute;
    top: -12px;
    left: 3px;
    font-size: 13px;
}

svg.close {
    width: 10px!important;
    stroke-width: 6px;
}

.ruler-map {
    cursor: crosshair !important;
}

.total-popup {
    width: auto !important;
    height: auto !important;
    padding-left: 15px;
    margin-top: -10px !important;
    background-color: transparent;
}

.total-popup-content {
    padding: 1px 7px;
    background-color: #4D90FE;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    .poly-close {
        display:none;
        &:hover {
            opacity: 0.7;
        }
    }
    &:hover {
        .poly-close {
            display: inline;
            margin-left: 10px;
            position: relative;
            cursor: pointer;
        }
    }
    svg {
      width: 15px;
      height: 10px;
      position: relative !important;
      top: 0px !important;
      left: 5px !important;
      path {
        stroke: white;
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 7;
      }
      &:hover {
          opacity: 0.7;
      }
      &:active {
          opacity: 0.3;
      }
    }
}

.total-popup-label {
    padding: 0px;
    padding-top: 10px;
    background-color: transparent;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    color: #4D90FE;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
}

.node-label {
    top: -25px !important;
}

.azimut {
  color: blue;
  text-shadow: 1px 1px 0px white;
  font-size: 13px;
  font-weight: normal;
}

.azimut-final {
  text-shadow: none;
  font-weight: bold;
}
