.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  .sidebar.collapsed {
    width: 40px; }
  @media (min-width: 768px) {
    .sidebar {
      top: 10px;
      bottom: 10px;
      transition: width 250ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 280px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      width: 300px; } }
  @media (min-width: 1200px) {
    .sidebar {
      width: 340px; } }

.sidebar-left {
  left: 0; }
  @media (min-width: 768px) {
    .sidebar-left {
      left: 10px; } }

.sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .sidebar-right {
      right: 10px; } }

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--bg);
}
  .sidebar-left .sidebar-tabs {
    left: 0; }
  .sidebar-right .sidebar-tabs {
    right: 0; }
  .sidebar-tabs, .sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
    width: 100%;
    height: 40px;
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms;
}
.sidebar-tabs a.mapkeybutton * {
    color: var(--fg-light)!important;
    font-size: 24px;
}
.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
    color: var(--fg);
    background-color: var(--contrast-light);
}
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    color: var(--fg);
    background-color: var(--contrast);
}
.sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
    color: var(--fg-dark);
}
        .sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: var(--fg-light);
        text-decoration: none;
        text-align: center; }
  .sidebar-tabs > ul + ul {
    bottom: 0; }

.sidebar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--bg-transparent);
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-left .sidebar-content {
    left: 40px;
    right: 0;
    line-height: 16px;
}
  .sidebar-right .sidebar-content {
    left: 0;
    right: 40px; }
  .sidebar.collapsed > .sidebar-content {
    overflow-y: hidden; }

.sidebar h1 {
    font-size: 20px;
}
.sidebar h2 {
    font-size: 18px;
}
.sidebar p {
    font-weight: normal;
}
.sidebar li {
    font-weight: normal;
    font-size: 12px;
}
.sidebar img {
    max-width: 100%;
}
.sidebar pre {
    white-space: pre-wrap;
    background-color: var(--fg-dark);
    padding: 5px 10px;
}
.sidebar code {
    line-height: 18px;
}
.sidebar pre *, .sidebar code {
    font-family: monospace;
    color: var(--bg);
    background-color: var(--fg-dark);
    font-size: 11px;
    font-weight: bold;
}
.sidebar a {
    font-weight: bold;
}

.sidebar-pane {
    display: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
  .sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
      min-width: 200px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
      min-width: 250px; } }
  @media (min-width: 1200px) {
    .sidebar-pane {
      min-width: 300px; } }

.sidebar-header {
    margin: 0;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14.4pt;
    color: var(--fg-light);
    background-color: var(--contrast-light);
}
.sidebar-right .sidebar-header {
    padding-left: 40px;
}

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .sidebar-left .sidebar-close {
    right: 0; }
  .sidebar-right .sidebar-close {
    left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
      margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 40px; }
  @media (min-width: 768px) {
    .sidebar-right ~ .sidebar-map {
      margin-right: 0; } }

.sidebar {
  box-shadow: 0 1px 5px var(--fg-dark);
}
.sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid var(--border);
}
@media (min-width: 768px) {
    .sidebar {
      border-radius: 4px;
    }
    .sidebar.leaflet-touch {
        border: 2px solid var(--border);
        background-color: transparent;
    }
}

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 250ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 54px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 300px; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 54; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 54px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 250ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 250px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 300px; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 350px; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px; } }
