/*
    Copyright © 2018 Stefanie Wiegand
    This file is part of BigX.

    BigX is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BigX is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with BigX. If not, see <https://www.gnu.org/licenses/>.
*/

/* Light Mode */
:root[colour-mode="light"] {
    --bg: #eee;
    --bg-light: #fff;
    --bg-dark: #ccc;
    --bg-transparent: #fffa;
    --fg: #111;
    --fg-light: #333;
    --fg-dark: #000;
    --border: rgba(102,102,102,0.5);
    --shadow: #3339;
    --contrast: #5F9FF9;
    --contrast-light: #98BFF6;
    --contrast-dark: #1877FB;
}
  
/* Dark Mode */
:root[colour-mode="dark"] {
    --bg: #333;
    --bg-light: #555;
    --bg-dark: #222;
    --bg-transparent: #333c;
    --fg: #d8d8d8;
    --fg-light: #fff;
    --fg-dark: #ccc;
    --border: rgba(34,34,34,0.8);
    --shadow: #ddda;
    --contrast: #1877FB;
    --contrast-light: #0051C1;
    --contrast-dark: #80b5ff;
}

* {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    color: var(--fg);
}

a {
    color: var(--contrast-dark);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fg-dark);
}

:root[colour-mode="dark"] h1,
:root[colour-mode="dark"] h2,
:root[colour-mode="dark"] h3,
:root[colour-mode="dark"] h4,
:root[colour-mode="dark"] h5,
:root[colour-mode="dark"] h6 {
    color: var(--fg-light);
}

hr {
    border: none;
    border-bottom: 1px solid var(--bg-dark)!important;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    background-color: var(--bg);
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[colour-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[colour-mode="dark"] .dark--hidden {
    display: none;
}

/* Ordering of leaflet panes */
.leaflet-map-pane canvas     { z-index: 100; }
.leaflet-map-pane svg        { z-index: 200; }
.leaflet-tile-pane           { z-index: 200; }
.leaflet-pane                { z-index: 400; }
.leaflet-overlay-pane        { z-index: 400; }
.leaflet-shadow-pane         { z-index: 500; }
.leaflet-marker-pane         { z-index: 600; }
.leaflet-custom-overlay-pane { z-index: 620; }
.leaflet-tooltip-pane        { z-index: 650; }
.leaflet-popup-pane          { z-index: 700; }

#map {
    height:100%;
}

.sidebar-inner {
    padding: 10px 20px;
    opacity: 0.7;
}

.sidebar-inner ul {
    padding-inline-start: 20px;
    margin-block: 0;
}

.sidebar-pane p {
    font-size: 12px;
}

.bigxbutton img {
    width: 28px!important;
    margin: 8px 0 0;
}

a.mapkeybutton {
    font-size: 25px;
    font-weight: 500;
}

#legend h2 {
    font-size: 10px;
    margin: 5px 0 3px 0;
    color: var(--fg)!important;
    border-bottom: 1px solid var(--bg-dark)!important;
}

#legend span.legend {
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 2px;
}

#legend div {
    font-size: 12px;
}

#legend i, #legend svg text {
    font-size: 70%!important;
}

#legend i, #legend span.mki {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 100%;
}

#legend span.symbol {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid var(--fg);
}

span.symbol {
    margin: 0 5px 0 0;
    position: relative;
    display: inline-block!important;
}

span.symbol * {
    font-weight: 900;  
}

span.liveicon {
    display: inline-block;
    margin: 0 0 0 5px;
}

img.legend {
    height: 12px;
}

.svg-icon-shadow svg {
    filter: drop-shadow(0 5px 1.5px var(--shadow));
}

/* Legend */
.leaflet-control.leaflet-control-scale {
    background-color: transparent!important;
}
.leaflet-control-scale, .leaflet-control-scale-line {
    opacity: 0.8!important;
    color: var(--fg)!important;
    background-color: var(--bg)!important;
    border-color: var(--fg)!important;
}

/* Controls */
.leaflet-control, .leaflet-touch, .leaflet-control-layers {
    color: var(--fg);
    background-color: var(--bg);
    border-color: var(--border);
}

#views-list p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    line-height: 150%;
}

.viewbutton {
    cursor: pointer;
    border: 2px solid var(--border);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: var(--fg);
    background-color: var(--bg-light);
    height: 20px;
    line-height: 15px;
    margin: 0 5px 0 0;
}

.viewbutton:hover {
    color: var(--fg);
    background-color: var(--contrast-light);
    filter: drop-shadow( 0px 0px 2px var(--border) );
}

.viewbutton span {
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
    display: inline-block;
}

.viewbuttonIcon {
    margin: 0 5px 0 0;
    font-size: 23px;
}

/* Dark/light mode button */
.state-dark-mode, .state-light-mode {
  transition-duration: .5s;
  transform: scaleY(0);
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
}

.state-dark-mode {
  transform-origin: 50% 0;
}
.state-light-mode {
  transform-origin: 50% 100%;
}

.state-dark-mode.dark-mode-active {
  transform: scaleY(1);
}

.state-light-mode.light-mode-active {
  transform: scaleY(1);
  top: -28px;
}

.activecontainer .yes {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    font-weight: bold;
}

img#screenshotBG, img#screenshotFG {
    display: none;
}

#dynamic-credits h4 {
    font-size: 16px;
    margin: 10px 0;
}

.leaflet-container {
    background: none;
}

p.datasource-id {
    margin: 10px 0 5px;
    font-weight: bold;
}

p.datasource {
    margin: 0 0 5px;
}

.leaflet-control-layers-toggle {
    width: 30px!important;
    height: 30px!important;
}

/* need this so the parent labels of the spinners in the layer control
are positioned explicitly */
.leaflet-control-layers label {
    position: relative;
    height: 18px;
}

.leaflet-control-layers-group-collapse, .leaflet-control-layers-group-expand {
    color: var(--contrast);
}

.leaflet-control-layers-selector {
    margin: 2.5px 5px;
}

.leaflet-control-layers label span {
    height: 13px;
    line-height: 13px;
    margin: 2.5px 3px 2.5px 0;
}

.leaflet-control-layers i {
    color: var(--contrast-dark);
    margin: 2.5px 3px 2.5px 0;
}

.leaflet-bottom {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0 0 0 60px;
}

/* Points icons *********************************************************************************/
.leaflet-marker-pane .fa, .leaflet-marker-pane .fas {
    display: inline-block;
    font-weight: 900;
    user-select: none;
    font-size: 100%;
    height: 85%;
    line-height: 100%;
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
    text-align: center;
}

/* Clustered icons ******************************************************************************/
.clusterIconInner {
    border: 1px solid var(--border);
    padding: 5px;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    min-width: 32px;
    width: max-content;
    height: 32px;
    filter: drop-shadow(0px 0px 2px #000);
}

.clusterIcon span {
    /* hardcoded colour because the cluster background is always the same irrespective of dark mode */
    color: #111;
    text-align: center;
    display: block;
    width: 100%;
}

.clusterIconImg {
    margin: -4px auto;
    width: fit-content;
}

.clusterIconImg .symbol {
    float: left;
    width: auto;
    margin: 0 -6px;
    transform: scale(0.6,0.6) translate(0, -30%);
    /* hardcoded colour because the cluster background is always the same irrespective of dark mode */
    filter: drop-shadow( 0px 0px 3px #000 );
}

.clusterIcon>div>span.symbol svg {
    width: 5px!important;
    overflow: hidden;
}

/* Heatlegend ***********************************************************************************/
.heatlegend {
    height: 20px;
    border: 1px solid var(--fg-dark);
    margin: 2px 0 0 0;
}

.heatlegend>.fewer, .heatlegend>.more {
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--fg-dark), 1px -1px 0 var(--fg-dark), -1px 1px 0 var(--fg-dark), 1px 1px 0 var(--fg-dark);
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}

.heatlegend>.fewer {
    float: left;
    margin: 0 0 0 5px;
}

.heatlegend>.more {
    float: right;
    margin: 0 5px 0 0;
}

/* Migration legend *****************************************************************************/
.migrationlegend {
    height: 29px;
    background: var(--fg-dark);
    margin: 2px 0 0 0;
    clip-path: polygon(0% 20%, 85% 20%, 85% 0, 100% 50%, 85% 100%, 85% 80%, 0% 80%);
    padding: 1px;
}

.migrationlegend .arrow {
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 20%, 86% 20%, 86% 0, 100% 50%, 86% 100%, 86% 80%, 0% 80%);
}

.migrationlegend .from, .migrationlegend .to {
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--fg-dark), 1px -1px 0 var(--fg-dark), -1px 1px 0 var(--fg-dark), 1px 1px 0 var(--fg-dark);
    font-weight: bold;
    height: 29px;
    line-height: 29px;
}

.migrationlegend .from {
    float: left;
    margin: 0 0 0 5px;
}

.migrationlegend .to {
    float: right;
    margin: 0 15% 0 0;
}

/* Popups ***************************************************************************************/
.leaflet-popup-content {
    line-height: 1.2;
}

.leaflet-popup-content .nvar * {
    font-family: Monaco, monospace;
}

.leaflet-popup-content ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin: 5px 0 0;
    list-style: none;
}

.leaflet-popup-content li ul {
    padding-inline-start: 12px;
    margin: 0;
}

/* default, used for depth==0 and is overridden by the styles below */
.leaflet-popup-content li::before {
    padding-right: 3px;
    content: "⏺";
    color: indigo;
}

/* depth==1 */
.leaflet-popup-content li li::before {
    content: "★";
    color: orange;
}

/* depth>1 */
.leaflet-popup-content li li li::before {
    content: "◾";
    color: green;
}

.yes, .yes * {
    color: green;
}

.no, .no * {
    color: red;
}

